* {
  box-sizing: border-box;
}
html {
  background: white; 
  background-image: url('http://labs.jensimmons.com/2016/examples/images/transparentbackground.svg');
}
.alpha {
    position: relative;
    top:17px;
    right: 5px;
    padding-left: 10px;
}
.alpha h4{
    border: solid;
    position: relative:
    top: 450px;
    hight: 200px
    width: 450px;
    left: 30px;
    color:black;
    font-weight: bold;
    text-align: justify;
    background-color: white;
    text-align: center;

}
.ladyj{
    border:solid;
    position: absolute;
    width: 400px;
    left: 400px;
    height: 150px;
}
 .flg1{
    left: 900px;
    border:solid;
    color: green;
    width: 74px;
    position: relative;
    top: 330px;
    position: fixed;
 }	 
 .flg2{
     position: relative;
     border: solid;
     color: red;
     top: 20px;
     width: 74px;
 }

 .submatter{
     border: solid;
     position: absolute;
     top: 310px;
     width: 320px;
     background-color: red;
 }

 .submatter span {
     color: white;
 }
 .submatter2{
    border: solid;
    position: absolute;
    top: 400px;
    width: 280px;
    left: 340px;
    background-color: white;
 }
 .submatter2 span {
     color: blue;
 }
 .submatter3{
    border: solid;
    color: white;
    position: absolute;
    top: 510px;
    width: 260px;
    left: 630px;
    background-color: blue;
 }
 .submatter3 span{
    color: red;
 }
 
